@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  --color-primary: #00a89a;
  --color-primary-dark: #008f83;
}

body.theme-violet {
  --color-primary: #8b5cf6;
  /* violet-500 */
  --color-primary-dark: #7c3aed;
  /* violet-600 */
}

@layer base {
  body {
    @apply bg-background-dark text-white font-display min-h-screen flex flex-col selection:bg-primary selection:text-black overflow-x-hidden;
  }
}

@layer utilities {
  .bg-grid {
    background-size: 40px 40px;
  }

  .code-block {
    font-variant-ligatures: none;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111417;
}

::-webkit-scrollbar-thumb {
  background: #2d3640;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}